# Claude
CLAUDE.md
docs/
graphify-out/

# Python
__pycache__/
*.pyc

#Viewer
*.ini
API data/*
!API data/swagger.json
#tests/

# Exception : ignorer tous les fichiers cachés sauf .gitignore
.*
!.gitignore